<?php
$configPathProfiles = dirname(__FILE__) . "/{{ monstaftp_configPathProfiles }}";
$configPathLicense = dirname(__FILE__) . "/{{ monstaftp_configPathLicense }}";
define("AUTHENTICATION_FILE_PATH", $configPathProfiles);
define("MONSTA_LICENSE_PATH", $configPathLicense);
